.arrivals {
  
}

.container {

}

.arrivals__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.arrivals__title {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
}

.dots {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  

  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color:  #6c7275;
  }

  &--active {

    border: 1px solid #141718;
    
    &::before{
      background-color: #141718;
    }
    
  }

}

.arrivals__slider {

}

.card {
  display: grid;
  gap: 12px;
  width: 262px;
}

.card__pic {
  position: relative;
}

.card__new {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 4px 14px;
  background-color: #fff;

}

.card__desc {
  display: grid;
  gap: 4px;
}

.card__rating {
display: flex;
align-items: center;
gap: 2px;
}

.card__title {

}

.card__price {

}