.banner {
  background-color: rgba(255, 171, 0, 0.4);
  display: grid;
  gap: 24px;
  position: relative;

  &::before{
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('/src/img/placeholder.png');
  }

}


.banner__content {
  padding: 100px 0;
  width: 50%;
  padding-left: 72px;
  float: right;
}

.banner__wrpapper {
  display: grid;
  gap: 16px;
}

.banner__tagline {

}

.banner__title {

}

.banner__description {

}

.banner__timer {
  display: grid;
  gap: 12px;
}

.banner__expires {

}

.banner__btn {

}

.btn {

}

