.banner {
  background-color: rgba(255, 171, 0, 0.4);
  display: grid;
  gap: 24px;
}


.banner__content {
  padding: 100px 0;
}

.banner__wrpapper {
  display: grid;
  gap: 16px;
}

.banner__tagline {

}

.banner__title {

}

.banner__description {

}

.banner__timer {
  display: grid;
  gap: 12px;
}

.banner__expires {

}

.banner__btn {

}

.btn {

}

