@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");
.tagline {
  position: relative;
  padding: 8px 15px;
  background-color: #141718;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  font-family: "Inter", sans-serif;
}
.tagline .tagline__icon {
  color: #fff;
  width: 22px;
}
.tagline .tagline__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tagline .tagline__block-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  line-height: 24px;
  border-bottom: 1px solid var(--yellow);
}
.tagline a {
  color: var(--yellow);
  text-decoration: none;
}
.tagline .tagline__close {
  position: absolute;
  top: 10px;
  right: 16px;
}

header {
  background-color: #FFC95C;
  padding: 16px 0;
}
header .header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
}
header .nav__link {
  text-decoration: none;
  color: #141718;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  gap: 2px;
}
header .header__icons {
  display: flex;
  gap: 17px;
  align-items: center;
}
header .header__icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .header__icon-number {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #141718;
  color: #ffab00;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
}
header .eclips {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: #fff;
  text-align: center;
  position: relative;
}
header .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: #ffab00;
  font-size: 12px;
}

.home {
  height: 820px;
  background-image: url("/src/img/Mask.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 220px 0 346px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.left__conternt,
.right__content {
  width: 50%;
}

.right__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.blue {
  color: #377DFF;
}

.home__title {
  max-width: 538px;
  font-family: "Poppins", sans-serif;
  font-size: 80px;
  font-weight: 500;
  line-height: 84px;
  letter-spacing: -3px;
  margin-bottom: 8px;
  color: #121212;
}

.home__desc {
  margin-bottom: 28px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #121212;
}

.home__button {
  display: inline-block;
  padding: 12px 56px;
  max-width: 234px;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.4px;
  background-color: #141718;
  border-radius: 8px;
}

.arrivals__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 48px;
}

.arrivals__title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
}

.dots {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.dot::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #6c7275;
}
.dot--active {
  border: 1px solid #141718;
}
.dot--active::before {
  background-color: #141718;
}

.card {
  position: relative;
  display: grid;
  gap: 12px;
  width: 262px;
}
.card:hover .card__fave {
  transform: translateY(0%);
  opacity: 1;
  pointer-events: all;
}
.card:hover .card__btn {
  transform: translateY(0%);
  opacity: 1;
  pointer-events: all;
}

.card__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.card__pic {
  position: relative;
}

.card__new {
  position: absolute;
  top: 16px;
  left: 16px;
  padding: 4px 14px;
  background-color: #fff;
  border-radius: 4px;
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: var(--black);
  text-transform: uppercase;
}

.card__fave {
  position: absolute;
  top: 16px;
  right: 16px;
  transition: all 0.2s ease-in;
  opacity: 0;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 10;
}

.btn-fav {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.12);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
  z-index: 10;
}
.btn-fav svg {
  fill: #6C7275;
  transition: all 0.2s ease-in;
}
.btn-fav:hover svg {
  fill: #b92231;
}

.card__btn {
  position: absolute;
  left: 16px;
  bottom: 16px;
  right: 16px;
  transition: all 0.2s ease-in;
  opacity: 0;
  transform: translateY(50%);
  pointer-events: none;
}

.card__desc {
  display: grid;
  gap: 4px;
}

.card__rating {
  display: flex;
  align-items: center;
  gap: 2px;
}

.card__title {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}

.card__price {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}

.arrivals__slider {
  display: flex;
  gap: 24px;
}

.shopcollect__title {
  margin: 48px 0 48px;
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.4px;
  color: var(--black);
}

.shopcollect__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.item {
  position: relative;
  background-color: #f3f5f7;
  padding-bottom: 58%;
  overflow: hidden;
  transition: all 0.2s ease-in;
}
.item:hover {
  box-shadow: 0px 8px 16px -8px rgba(15, 15, 15, 0.12);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item__content {
  position: absolute;
  left: 48px;
  right: 48px;
  bottom: 40px;
}

.item--tall {
  grid-row: 1/3;
}

.item__title {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
  letter-spacing: -0.6px;
  margin-bottom: 12px;
  color: var(--black);
}

.item__description {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  border-bottom: 1px solid var(--black);
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  text-decoration: none;
  color: var(--black);
}

.bestseller__title {
  margin: 48px 0 48px;
  font-family: var(--font-poppins);
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
}

.bestseller__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 48px;
}

.small--title {
  max-width: 96px;
  width: 100%;
}

.med--title {
  max-width: 150px;
  width: 100%;
}

.bestseller {
  padding-bottom: 100px;
}

.banner {
  background-color: rgba(255, 171, 0, 0.4);
  display: grid;
  gap: 24px;
  position: relative;
}
.banner::before {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url("/src/img/placeholder.png");
}

.banner__content {
  padding: 100px 0;
  width: 50%;
  padding-left: 72px;
  float: right;
  display: grid;
  gap: 24px;
}

.banner__wrpapper {
  display: grid;
  gap: 16px;
}

.banner__tagline {
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #377DFF;
}

.banner__title {
  font-family: var(--font-poppins);
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.400000006px;
  color: #121212;
}

.banner__description {
  font-family: var(--font-inter);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #121212;
}

.banner__timer {
  display: grid;
  gap: 12px;
}
.banner__timer .timer {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}
.banner__timer .timer__el {
  text-align: center;
}
.banner__timer .timer__value {
  width: 60px;
  height: 60px;
  background-color: #fefefe;
  line-height: 60px;
  font-family: var(--font-poppins);
  font-size: 34px;
  font-weight: 500;
  letter-spacing: -0.6px;
  color: #141718;
}
.banner__timer .timer__desc {
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.banner__expires {
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #121212;
}

.banner__btn {
  max-width: 154px;
}

.values {
  padding: 40px 0;
}

.values__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
  gap: 24px;
}

.value {
  padding: 48px 32px;
  background-color: #F3F5F7;
}
.value .value-icon {
  margin-bottom: 16px;
}
.value .value__title {
  margin-bottom: 8px;
  font-family: var(--font-poppins);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: #141718;
}
.value .value__description {
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #6C7275;
}

.newsletter {
  padding-top: 101px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 360px;
  background-color: #E2E4E3;
  background-image: url("/src/img/newsletter.png");
  background-position: center;
  block-size: cover;
  background-repeat: no-repeat;
}
.newsletter .newsletter_content {
  flex-grow: 1;
  max-width: 488px;
  text-align: center;
}
.newsletter .newsletter__title {
  font-family: var(--font-poppins);
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.4px;
  margin-bottom: 8px;
}
.newsletter .newsletter__desc {
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 32px;
}
.newsletter .form-newsletter {
  display: flex;
  gap: 8px;
  border-bottom: 1px solid rgba(108, 114, 117, 0.5019607843);
  padding-bottom: 12px;
}
.newsletter .form-newsletter__input {
  flex-grow: 1;
  outline: none;
  background-color: transparent;
  border: none;
  color: #6C7275;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
}
.newsletter .form-newsletter__input::-moz-placeholder {
  color: #6C7275;
}
.newsletter .form-newsletter__input::placeholder {
  color: #6C7275;
}
.newsletter .form-newsletter__submit {
  outline: none;
  background-color: transparent;
  border: none;
  color: #6C7275;
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.4px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.newsletter .form-newsletter__submit:hover {
  color: #121212;
}

:root {
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --yellow: #FFAB00;
  --black: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1184px;
  padding: 0 32px;
  margin: auto;
}

.container-right {
  padding-left: calc((100% - 1184px) / 2 + 32px);
}

.butttn {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.btn {
  display: inline-block;
  padding: 12px 56px;
  max-width: 234px;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-family: var(--font-inter);
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.4px;
  background-color: #141718;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.btn--small {
  padding: 9px 40px;
  font-size: 16px;
  line-height: 28px;
}
.btn--wide {
  max-width: 230px;
  width: 100%;
}
.btn--smaller {
  padding: 6px 40px;
  font-size: 16px;
  line-height: 28px;
}/*# sourceMappingURL=main.css.map */