@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

@import "./blocks/tagline";
@import "./blocks//header";
@import "./blocks/home";
@import "./blocks/arrivals";
@import "./blocks/shopcollect";
@import "./blocks/bestseller";
@import "./blocks/banner";

:root {
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --yellow: #FFAB00;
  --black: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 1184px;
  padding: 0 32px;
  margin: auto;
}

.container-right{
  padding-left: calc(
    (100% - 1184px) / 2 + 32px
  );
}

.butttn{
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;

}

.btn{
  display: inline-block;
  padding: 12px 56px;
  max-width: 234px;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.4px;
  background-color: #141718;
  border-radius: 8px;
  border: none;
  cursor: pointer;

  &--small{
    padding: 9px 40px;
    font-size: 16px;
    line-height: 28px;
  }

  &--wide{
    max-width: 230px;
    width: 100%;
  }
}